/*-------------------------------------------------------
		GERAL
-------------------------------------------------------*/
* {
	font-family: 'Droid sans', 'Oswald', sans-serif;
	margin: 0 auto;
	padding: 0;
	font-weight: 100;
}
html {
	font-size: 16px;
	height: 100%;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

/*-------------------------------------------------------
		#HEADER
-------------------------------------------------------*/
header {
	width: 100%;
	min-width: 1200px;
	/*height: 200px;*/
	line-height: 1;
	text-align: center;
	position: relative;
	display: block;
}

#header	{
	width: 92%;
	height: 130px;
	padding: 0px 4%;
	background: #fff;
}
/*-- #HEADER LOGO --*/
.headerLogo {
	width: 24%;
	min-width: 300px;
	height: 65px;
	margin: 30px 2% 30px 2%;
	float: left;
}

.headerLogo1 h1 {
	color: #cf2c01;
	font-size: 2.5em;
	text-transform: uppercase;
	font-weight: 500;
}

.headerLogo1 h1, .headerLogo1 span {
	font-family: 'Oswald', sans-serif;
}

.headerLogo h2 {
	font-family: serif;
	font-style: italic;
	color: #412a56;
}

.headerLogo a:hover {
	font-size: 1.05em;
}

/*-- #HEADER SEARCH --*/
.headerSearch {
	width: 30%;
	min-width: 200px;
	height: 65px;
	margin: 30px 2%;
	float: left;
	z-index: 1;
}

#searchBox {
	position: relative;
	border:	1.5px solid #000;
	border-radius: 6px;
	margin: 10px 20px;
	padding: 12px;
	height: 20px;
}

.searchBox {
	position: absolute;
	border: none;
	float: left;
	font-size: 1em;
	left: 48px;
}

.buttonSearch {
	background: url(../imagens/icons/lupa.jpg) no-repeat left center;
	border: none;
	color: #d6391e;
	width: 20px;
	height: 20px;
	float: left;
	cursor: pointer;
	left: 0;
}

/*-- #HEADER BAG --*/
.headerBag {
	width: 25%;
	min-width: 278px;
	height: 65px;
	margin: 30px 2% 30px 2%;
	padding: 0px 2.5%;
	float: left;
}


.bag1 {
	color: #cf2c01;
	font-size: 0.9em;
	font-style: italic;
	line-height: 25px;
	margin: 7px 0px;
	float: left;
}

.bag1 div {
	font-size: 0.8em;
}

.bag2 {
	float: left;
	margin: 10px 15px;
}

.bag3 {
	width: 300px;
	height: 24px;
	margin: 20px 0 20px 0;
}

.bag3 a {
	color: #aaa;
	float: left;
}

.bag3 span {
	color: #cf2c01;
	font-weight: 1000;
}

/*-------------------------------------------------------
		#HEADER MENU
-------------------------------------------------------*/

/*-- #HEADER MENU GERAL --*/
#headerMenu {
	color: 	#ccc;
 	background: #523468;
 	height: 80px;
 	padding: 0 40px;
 	clear: both;
}

/*-- #HEADER MENU hiperlinks geral --*/
.headerMenu li a:link,
.headerMenu li a:visited {
	color: #fff;
	float: 	left;
	margin: 15px 15px;
	padding: 15px 15px;
	border-radius: 	10px;
}

.headerMenu	p a:link,
.headerMenu	p a:visited	{
	color: 	#fff;
	margin: 10px 5px;
	padding: 20px;
	border-radius: 10px;
}

.headerMenu li a:hover,
.headerMenu	p a:hover {
	color: #fff;
	font-size: 	1.1em;
	opacity: 0.5;
	text-decoration: underline;
}

.headerMenu	li a:hover {
	border-radius: 	10px;
	background-color: #412a56;
	text-decoration: 	none;
}

/*-- #HEADER MENU PARÁGRAFOS --*/
.headerMenu	p {
	font-style: italic;
	padding: 30px;
}

/*-------------------------------------------------------
		#CONTEÚDO
-------------------------------------------------------*/
section {
	height: 790px;
}

section h2 {
	padding: 20px 70px;
	font-weight: bold;
}

#potions {
	min-width: 1080px;
	height: 720px;
	padding: 0 5%;
	font-weight: lighter;
}

#potions img {
	width: 210px;
}

#potions h4 {
	font-weight: bold;
}

#potions span {
	font-weight: bolder;
	color: #d6391e;
}

.potions {
	width: 210px;
	margin: 2% 5%;
	padding: 20px;
	float: left;
	cursor: pointer;
	text-align: center;
}



/*-------------------------------------------------------
		#FOOTER
-------------------------------------------------------*/
footer {
	background: #e6e6e6;
	padding: 10px;
	line-height: 30px;
	clear: both;/*
	border: 1px solid	black;*/
}

label {
	display: block;
	cursor: pointer;
}

.rodapeLeft {
	float: left;
	width: 440px;
	min-width: 440px;
	margin: 10px 70px;
	padding: 10px;/*
	border: 1px solid blue;*/
}

.rodapeRight {
	float: 	right;
	font-family: 'Oswald';
	width: 400px;
	margin: 20px 70px;
	padding: 10px;
	background: #fff;
	border: none;
	border-radius: 6px;
}

#links a {
	text-transform: uppercase;
	color: 	#d6391e;
	font-size: 25px;
	margin: 10px;
	float: left;/*
	border: 1px solid green;*/
}

#links a:hover {
	text-decoration: underline;
	font-size: 1.6em;
	opacity: 0.5;
}

#social img{
	margin: 10px 26px;
	float: left;/*
	border: 1px solid green;*/
}

#social img:hover {
	width: 2.5em;
	opacity: 0.5;
}

#email, #submit {
	padding: 10px 30px;
	margin: 5px 10px 10px 10px;
	border: 1px solid #000;
	border-radius: 	4px;

}

#newsletter {
	padding: 0 10px 20px 10px;
}

#submit {
	background: #d6391e;
	color: 	#fff;
	cursor: pointer;
}

#submit:hover {
	opacity: 0.5;
}

#direitos {
	padding: 10px;
	margin: 10px 70px;
	color: #666;
}

#links, #social, #direitos {
	clear: both;
}